name: issue-ops

on:
  issues:
    types: [labeled]

jobs:
  issue-ops:
    if: ${{ github.event.label.name == 'repo-request' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read

    steps:
      - name: Parse Issue Form
        id: parse
        uses: zentered/issue-forms-body-parser@v2.0.0

      - name: Validate Repository Name
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          repo_name=$(echo '${{ steps.parse.outputs.data }}' | jq -r '.name.text')
          repo_dept=$(echo '${{ steps.parse.outputs.data }}' | jq -r '.department.text')
          repo_full_name=$repo_dept-$repo_name

          mention="@${{ github.event.issue.user.login }}: "
          message="Repository '$repo_full_name' request is valid."
          exitcode=0

          # Validation rules
          if [ -z "$repo_full_name" ]; then
            message="Repository name is empty."
            exitcode=1
          fi

          if [[ "$repo_full_name" =~ [^\-a-zA-Z0-9] ]]; then
            message="Repository name must be alphanumeric and hyphens only."
            exitcode=1
          fi

          # Remove label if invalid
          if [ $exitcode -ne 0 ]; then
            gh issue edit ${{ github.event.issue.number }} --remove-label repo-request
            message="$message Please fix the issue and reapply the label."
          fi

          # Comment on the issue
          gh issue comment ${{ github.event.issue.number }} -b "$mention $message"

          exit $exitcode
